---
import Heart from './Heart.astro';

interface Props {
	id: string;
	title: string;
	body: string;
}

const { id, title, body } = Astro.props;
---

<Heart></Heart>
<div id={id}>
	<h1>
		{title}
	</h1>
	<p>
		{body}
	</p>
</div>

<style>
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 500px;
		margin-bottom: var(--largeMargin);
		margin-left: var(--tinyMargin);
		margin-right: var(--tinyMargin);
	}

	h1 {
		margin-bottom: var(--smallMargin);
	}
</style>