---
const content = {
    images: [
        "sandra.jpg"
    ]
}
---

<div class="imageWrapper">
    <slot />
</div>

<style>
    .imageWrapper {
        width: 100vw;
        display: flex;
        overflow-x: scroll;

        margin-top: var(--smallMargin);
    }
</style>
