---

---

<div class="outerWrapper">
	<nav>
		<ul>
			<slot>
		</ul>
	</nav>
</div>

<style>
	.outerWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}
	ul {
		display: flex;
		gap: 25px;
	}
</style>
