---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<nav>
	<div class="burgerBar">
		<h1>{title}</h1>
		<div id="burger">
			<div class="first"></div>
			<div class="second"></div>
			<div class="third"></div>
		</div>
	</div>

	<div class="itemWrapper">
		<h1>{title}</h1>
		<ul>
			<slot />
		</ul>
	</div>
</nav>

<script>
	const navBar = document.querySelector("nav") as HTMLElement
	const burger = document.querySelector("#burger") as HTMLElement
    burger.addEventListener("click", () => {
		const burger =  document.querySelector("#burger")
        burger.classList.toggle("close")
        navBar.classList.toggle("fullScreen")
	})

	navBar.querySelectorAll("a").forEach(a => {
		a.addEventListener("click", (e) => {
			const link = e.target as HTMLElement
			const navTo = link.dataset.navto
			const position = document.querySelector(`#${navTo}`).getBoundingClientRect()
			window.scrollTo({
				top: position.top,
				behavior: "smooth"
			})
			if (navBar.classList.contains("fullScreen")) {
				burger.click()
			}
		})
	})
</script>

<style>

	nav {
		position: fixed;
		top: 0;
		right: 0;
		background-color: var(--lilac);
		height: 100px;
		width: 100%;
		z-index: 1;
		transition: right 0.5s;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.burgerBar {
		position: fixed;
		top: 0;
		right: 0;
		background-color: inherit;
		height: 100px;
		width: 100%;

		display: none;
		justify-content: space-between;
		align-items: center;
	}

	.itemWrapper {
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h1 {
		margin-left: var(--tinyMargin);
	}

	ul {
		display: flex;
		align-items: center;
		gap: var(--tinyMargin);
		margin-right: var(--tinyMargin);
	}

	#burger {
		height: 20px;
		width: 25px;
		margin-right: var(--tinyMargin);
		cursor: pointer;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	#burger div {
		width: 100%;
		height: 3px;
		background-color: black;
		transition:
			transform 0.5s,
			width 0.2s;
	}

	#burger .first {
		transform-origin: top left;
	}

	#burger.close .first {
		transform: translateX(2px) rotate(45deg);
	}

	#burger.close .second {
		width: 0px;
	}

	#burger .third {
		transform-origin: bottom left;
	}

	#burger.close .third {
		transform: translateX(2px) rotate(-45deg);
	}

	@media only screen and (max-width: 600px) {
		nav {
			height: 100%;
		}
		.burgerBar {
			display: flex;
		}
		.itemWrapper {
			justify-content: center;
		}
		.itemWrapper h1 {
			display: none;
		}
		ul {
			margin-right: 0;
			flex-direction: column;
		}
		nav:not(.fullScreen) {
			right: -100%;
		}
		nav.fullScreen {
			right: 0;
		}
	}

</style>
