---
interface Props {
	navTo: string;
	title: string;
}

const { navTo, title } = Astro.props;
---

<a data-navto={navTo}>{title}</a>

<script>

</script>

<style>
	a {
		list-style-type: none;
		cursor: pointer;
	}

	a:hover {
		text-decoration: underline;
	}
</style>
