---
interface Props {
	navTo: string;
	title: string;
}

const { navTo, title } = Astro.props;
---

<a data-navto={navTo}>{title}</a>

<script>

</script>

<style>
	a {
		list-style-type: none;
		cursor: pointer;
	}

	a:hover {
		text-decoration: underline;
	}

	a:last-child {
		color: var(--white);
		background-color: var(--black);

		border-color: var(--black);
		border-style: solid;
		border-left-width: 30px;
		border-right-width: 30px;
		border-top-width: 12px;
		border-bottom-width: 10px;
	}
</style>
