---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="theme-color" content="#E6DCDB" />
		<meta name="HandheldFriendly" content="true" />
		<link rel="manifest" href="pwa/pwa.json" />

		<meta charset="UTF-8" />
		<meta name="description" content={description} />

		<link href="images/logo.png" rel="shortcut icon" type="image/x-icon" />
		<link href="images/logo.png" rel="apple-touch-icon" type="image/png" />

		<title>{title}</title>
	</head>
	<body>
		<div class="wrapper">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--lilac: #E6DCDB;
		--white: white;
		--black: black;

		--tinyMargin: 30px;
		--smallMargin: 50px;
		--mediumMargin: 70px;
		--largeMargin: 90px;
	}

	@font-face {
		font-family: BalginExtraLightCondensed;
		src: url('fonts/balgin-extra-light-condensed.ttf');
	}

	* {
		margin: 0;
		padding: 0;
	}

	html {
		font-family: BalginExtraLightCondensed;
		font-size: 25px;
		background-color: var(--lilac);
		white-space: pre-line;
	}

	body {
		overflow-x: hidden;
	}

	h1 {
		font-weight: normal;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
	}
</style>
